html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://previews.123rf.com/images/mertsalov/mertsalov1407/mertsalov140700078/30181037-travel-background-icon-app.jpg);
  margin: 0;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  font-style: oblique;
  color: rgb(58, 55, 54);
}

@keyframes sparkle {
  0% { color: rgb(58, 55, 54); } 
  20% { color: rgb(135, 82, 17); } 
  40% { color: rgb(148, 216, 147); } 
  60% { color: rgb(175, 225, 174); } 
  80% { color: rgb(227, 242, 172); } 
  100% { color: rgb(58, 55, 54); } 
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes ripple {
  0% { box-shadow: 0 0 0 0 rgba(0, 0, 255, 0); } 
  50% { box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0); } 
  100% { box-shadow: 0 0 0 0 rgba(0, 0, 255, 0); } 
}


.content-heading {
  font-size: 5rem;
  color: rgb(148, 216, 147);
  animation: float 3s ease-in-out infinite, ripple 2s ease-in-out infinite, sparkle 5s ease-in-out infinite;
}


.main {
  display: grid;
  place-items: center; 
  height: 100vh; 
  grid-template-areas: "header" "cards";
}

.content-heading {
  font-size: 5rem;
  color: rgb(148, 216, 147);
  grid-area: header;
}


header {
  background-color: rgb(175, 225, 174);
  margin: 0%;
  padding: 0%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-area: cards;
}  


/* .card:hover{
  box-shadow: 0px 10px 50px rgb(0 0 0/ 50);
} */

.card {
  width: 600px; 
  height: 500px;
  background-color: rgb(148, 216, 147); 
  border-radius: 5px; 
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); 
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.15); 
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 0 20px;
} 

.card-content {
  position: relative;
  z-index: 1;
}

input {
  background-color: rgb(215, 201, 103); 
}


button {
  background-color:rgb(148, 216, 147); 
  color: rgb(58, 55, 54); 
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}


button:hover {
  background-color: rgb(227, 242, 172); 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1%;
}

.form-group {
  margin-bottom: 15px; 
}

label {
  margin-right: 10px;
    display: block;
    margin-bottom: 1px;
}

label {
  display: block; 
  margin-bottom: 5px; 
}

.logout-link {
  font-size: 20px; 
}

.form-group {
  margin-bottom: 10px; 
}

footer {
  background-color: rgb(58, 55, 54);
  color: rgb(148, 216, 147);
  padding: 20px;
  text-align: center;
  z-index: 1;
}